extends ../layout

block content

    a(href="/bicicletas") Volver
    h1= "Añadir Bici"
    form(action="/bicicletas/create" method="POST")
        br
        label(for='id') ID:
        input#id(type="text" name="id")
        br
        label(for='color') COLOR:
        input#color(type="text" name="color" placeholder="")
        br
        label(for='modelo') MODELO:
        input#modelo(type="text" name="modelo" placeholder="")
        br
        label(for='modelo') LATITUD:
        input#modelo(type="text" name="lat" placeholder="")
        br
        label(for='modelo') LONGITUD:
        input#modelo(type="text" name="lng" placeholder="")
        br
        br
        input.btn(type="submit" value="OK")